[Desktop Entry]
Type=Application
Name=Eclipse IDE
Comment=Eclipse Integrated Development Environment
Icon=icon.xpm
Exec=eclipse
Terminal=false
Categories=Development;IDE;Java;
